@model Bookstore.DTOs.ChangePasswordDto

@{
    ViewData["Title"] = "ChangePasswordDto";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 25rem; margin-bottom:5%">
        <div class="card-body">
            <h2 class="card-title text-center">ChangePassword</h2>

            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="position-relative">
                        <input asp-for="Password" type="password" class="form-control pr-5" id="password" />
                        <img src="~/image/eye_closed.jpg"
                             style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
                                        width: 30px; height: 20px; cursor: pointer;" id="eyeicon" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <div class="position-relative">
                        <input asp-for="ConfirmPassword" type="password" class="form-control pr-5" id="confirmPassword" />
                        <img src="~/image/eye_closed.jpg"
                             style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
                                        width: 30px; height: 20px; cursor: pointer;" id="confirmEyeicon" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                
            </form>
        </div>
    </div>
</div>
<script>

     let eyeicon = document.getElementById("eyeicon");
     let password = document.getElementById("password");

     let confirmEyeicon = document.getElementById("confirmEyeicon");
     let confirmPassword = document.getElementById("confirmPassword");
     eyeicon.onclick = function(){
         if(password.type == "password"){
             password.type = "text";
             eyeicon.src = "/image/eye_open.jpg";
         } else {
             password.type = "password";
             eyeicon.src = "/image/eye_closed.jpg";
         }
     }

     confirmEyeicon.onclick = function(){
        if(confirmPassword.type == "password"){
            confirmPassword.type = "text";
            confirmEyeicon.src = "/image/eye_open.jpg";
        } else {
            confirmPassword.type = "password";
            confirmEyeicon.src = "/image/eye_closed.jpg";
        }
    }

</script>