@model Bookstore.DTOs.BookDto


<style>
.title {
            text-align: center;
            color: white;
        }
</style>
@{
    ViewData["Title"] = "New Book";
}
@* <h1>Create</h1> *@

@* <h4>Book</h4> *@
@* <hr /> *@
<div class="row">
    <div class="title">
        <h2>Add New Book</h2>
    </div>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingDate" class="control-label"></label>
                <input asp-for="PublishingDate" class="form-control" />
                <span asp-validation-for="PublishingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingHouse" class="control-label"></label>
                <input asp-for="PublishingHouse" class="form-control" />
                <span asp-validation-for="PublishingHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="Authors" class="form-label"></label>
                <select asp-for="Authors" class="form-control" asp-items="ViewBag.Authors" multiple></select>
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="form-label"></label>
                <select asp-for="Genres" class="form-control" asp-items="ViewBag.Genres" multiple></select>
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <button type="submit" class="submit-button">Add Book</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}